* {
  margin: 0;
  padding: 0.01cm;
}

body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.nav-main {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px 1;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  margin: auto;
}
/* Navegar */
.nav-test {
  width: 60px;
}

.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 8px;
}

.nav-main ul li a:hover {
  border-bottom: 3px solid #3e414a;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 30px;
}
